# Node
node_modules
dist

# Logs
*.log

# Env
!frontend/.env.example
!backend/.env.example
!.env.example
.env
.env.local
# OS
.DS_Store

# Frontend build
frontend/dist

# Backend build
backend/dist

.history